%table.table.table-bordered.table-condensed.table-striped
  %tr
    %th Rating
    %th Title
    %th Price
    = show_element_on_desired_page(controller_name, 'hotels', 'th', 'Breakfast')
    %th Show

  - @hotels.each do |hotel|
    %tr
      %td= count_rating(hotel)
      %td#hotel_titles= hotel.title
      %td= number_to_currency(hotel.price)
      = show_element_on_desired_page(controller_name, 'hotels', 'td', get_breakfast(hotel.breakfast))
      %td= link_to 'Show', hotel_path(hotel.id)

  %ul.ul_list_style
    %li
      = paginate @hotels if controller_name == 'hotels'
