%table.table.table-bordered.table-condensed.table-striped
  %tr
    %th Rating
    %th Title
    %th Price
    %th City
    = show_element_on_desired_page('hotels', 'th', 'Breakfast')
    %th Show

  - @hotels.each do |hotel|
    %tr
      = count_rating('hotels', 'td', hotel)
      %td= hotel.title
      %td= number_to_currency(hotel.price)
      %td= hotel.city
      = show_breakfast_on_desired_page('hotels', 'td', hotel)
      %td= link_to 'Show', hotel_path(hotel.id)

  %ul.ul_list_style
    %li
      = paginate @hotels if controller_name == 'hotels'
