.col-md-12
  .col-md-10
    = link_to 'Back', :back
  .col-md-4
    %br
    %br    
    %p
      %strong Hotel name:
      = @hotel.title
    %p
      %strong Description:
      = @hotel.description
    %p
      %strong Price:
      = @hotel.price
    %p
      %strong Breakfast:
      = @hotel.breakfast

    #star-rating
    = hidden_field_tag 'hotel_id', "#{@hotel.id}"
    = hidden_field_tag 'user_id', "#{current_user.id}"
    = button_to 'Vote', '#', method: 'get', id: 'b_rating', class: 'btn btn-info'

    = render 'comments/form'

  - if @hotel.comments.any?
    = render 'comments/comments'
