.col-md-10
  = link_to 'Back', root_path
.col-md-3
  = render 'hotel_info'

.col-md-8#photos_grid
  = render 'photos'

.col-md-4.col-md-offset-5
  = render 'rating'

.col-md-8
  = render 'comments/form'

= render 'comments/comments'
